<!-- About Section -->
<section id="about-us" class="max-w-6xl mx-auto px-4 py-16">
    <div class="bg-white/50 rounded-xl p-6 shadow-lg hover:shadow-xl transition-shadow duration-300">
    <div class="grid md:grid-cols-2 gap-12 items-center">
        <div>
            <h2 class="section-heading">About Us</h2>
            <p class="mb-4">
                At Thamaya Solutions we excel in turning visions into reality with precision and creativity.
            </p>
            <p class="mb-4">
                We are a team of skilled project leads, creatives, and industry experts dedicated to delivering seamless execution and innovative solutions.
            </p>
            <p class="mb-4">
                With four years of experience, we’ve built a strong reputation for meticulous planning, exceptional project management, and a commitment to excellence. 
            </p>
            <p class="mb-4">
                We are more than an agency; we are your partner in transforming ideas into impactful results.
            </p>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="{{ site.baseurl }}/assets/img/thamaya-team.png" alt="Team" class="w-full object-cover" />
        </div>
    </div>
</section>