<!-- Gallery Section -->
 <section class="max-w-6xl mx-auto px-4 py-16" id="gallery">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <!-- Column #1 -->
        <div class="grid gap-4">
            <div class="h-[30rem] text-2xl">
                <h2 class="section-heading">Gallery</h2>
                <div class="bg-gray-200 text-gray-800 rounded-full px-4 py-1 w-16 text-center">All</div>
                <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer">Events</div>
                <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer">Fabrications</div>
                <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer">Luxury Packaging</div>
                <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer">Design & Concept</div>
                <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer">Creative Direction</div>
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/creative_direction/exhibition-stall.jpg" alt="Image 02" />
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/design_concepts/The-concept-Match-box_3.jpg" alt="Image 03" />
            </div>
        </div> 
        <!-- Column #2 -->
        <div class="grid gap-4 -mt-12">
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg" alt="Image 04" />
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg"  alt="Image 05" />
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg"  alt="Image 05" />
            </div>
        </div>
        <!-- Column #3 -->
        <div class="grid gap-4">
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg" alt="Image 04" />
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg"  alt="Image 05" />
            </div>
            <div>
                <img class="w-full rounded-xl shadow relative h-[30rem]" src="assets/img/events/coffee.jpg"  alt="Image 05" />
            </div>
        </div>
</section>