<!-- Gallery Section -->
 <section class="max-w-6xl mx-auto px-4 py-16" id="gallery">
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div class="">
            <h2 class="section-heading">Gallery</h2>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer" onclick="filterGallery('all')">All</div>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer" onclick="filterGallery('events')">Events</div>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer"onclick="filterGallery('fabrications')">Fabrications</div>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer" onclick="filterGallery('luxury-packaging')">Luxury Packaging</div>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer" onclick="filterGallery('design-concepts')">Design & Concept</div>
            <div class="text-white hover:bg-gray-200 hover:text-gray-800 hover:rounded-full px-4 py-1 cursor-pointer" onclick="filterGallery('creative-direction')">Creative Direction</div>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/img/creative_direction/exhibition-stall.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/img/events/coffee.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/img/design_concepts/The-concept-Match-box_3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="assets/img/fabrications/exhibition-stall.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
        </div>
    </div>
</div>

</section>