<!-- Hero Section -->
<section id="hero" class="text-center py-20 px-4 text-center h-screen mt-20">
    <h1 class="text-8xl text-black">Ideate | Design | Create</h1>
    <p class="mt-8 text-lg text-gray-300 max-w-4xl mx-auto mb-8 flex justify-between items-center">From event management & fabrications to design & concepts. We utilise meticulous planning, exceptional project management, and a commitment to excellence to turn your ideas into impactful results </p>
    <button class="bg-white mt-4 text-Teal text-2xl px-8 py-3 rounded-3xl hover:bg-teal-600 hover:text-white transition">
        Let's Connect
    </button>
</section>