<section class="relative py-32">
    <img src="{{site.baseurl}}/assets/img/{{site.data.stats.image}}" alt="Stats Background" class="absolute inset-0 w-full h-full object-cover" />
    <div class="relative max-w-6xl mx-auto px-4 text-center">
        <h2 class="section-heading">Where we're at</h2>
        <p class="mb-4 text-4xl -mt-6 mb-6">4 years of experience with a team</p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white/70 p-6 rounded-lg text-center">
            <div class="text-4xl font-bold mb-2 text-teal-600">{{site.data.stats.projects}}+</div>
            <div class="text-black font-bold">Total Projects</div>
        </div>
        <div class="bg-white/70 p-6 rounded-lg text-center">
            <div class="text-4xl font-bold mb-2 text-teal-600">{{site.data.stats.clients}}+</div>
            <div class="text-black font-bold">Happy Clients</div>
        </div>
        <div class="bg-white/70 p-6 rounded-lg text-center">
            <div class="text-4xl font-bold mb-2 text-teal-600">{{site.data.stats.experience}}+</div>
            <div class="text-black font-bold">Years Experience</div>
        </div>
        </div>
    </div>
</section>