<section class="container mx-auto max-w-6xl">
    <!-- Main Heading -->
    <h1 class="section-heading">What We Do</h1>
    
    <!-- Services Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-1">
      
      <!-- Event Management -->
      <!-- Event Management -->
      <div class="relative h-96 overflow-hidden rounded-lg">
        <img src="assets/img/creative_direction/exhibition-stall.jpg" alt="Event Management" class="w-full h-full object-cover">
        <div class="absolute inset-0 flex flex-col justify-end p-6">
          <h3 class="text-white font-bold transform -rotate-90 origin-bottom-left absolute mx-4 left-6">Event Management</h3>
        </div>
      </div>      
    </div>
</section>