<section class="w-full bg-white py-6">
  <div class="container mx-auto max-w-6xl mb-4">
    <!-- Main Heading -->
    <h1 class="section-heading">What We Do</h1>
      <!-- Services Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-1">
      {% for service in site.data.whatwedo %}
      <!-- Event Management -->
      <div class="relative h-[40rem] overflow-hidden rounded-3xl transition-all duration-300 ease-in-out fransform hover:h-[42rem]">
        <img src="{{ site.baseurl }}/assets/img/whatwedo/{{ service.image }}" alt="Event Management" class="w-full h-full object-cover">
        <div class="absolute inset-0 flex flex-col justify-end p-6">
          <h3 class="text-white font-bold text-2xl [writing-mode:sideways-lr]">{{service.title}}</h3>
        </div>
      </div> 
      {% endfor %}    
    </div>
    <div class="text-center py-20 px-4 text-center mt-[10rem] h-[35rem] align-middle">
      <h1 class="text-9xl text-black opacity-70 font-bold">Driven <br>by Vision</h1>
      <p class="mt-8 text-lg text-black opacity-70 max-w-4xl mx-auto mb-8">Providing creative solutions for creative brands </p>
    </div>
    <div class="grid grid-cols-2 mt-20 md:grid-cols-5 gap-2">
      <div class="col-span-2">
          <H2 class="text-6xl text-black font-bold opacity-70">
          Defined by <br><br> excellence
          </H2>
      </div>
      {% for record in site.data.statsv2 %}
      <div class="text-black opacity-70">
          <H1 class="text-4xl">{{record.value}}</H1><br>
          <h2 class="text-2xl">{{record.title}}</h2><br>
          <p class="text-lg">{{record.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
